<aside>
    <nav>
        <ul>
            <li><a href="<%= route('admin.dashboard') %>">Dashboard</a></li>
            <li><a href="<%= route('admin.user.list') %>">Users</a></li>
            <li><a href="<%= route('admin.category.list') %>">Categories</a></li>
            <li><a href="<%= route('admin.brand.list') %>">Brands</a></li>
            <li><a href="<%= route('admin.product.list') %>">Products</a></li>
        </ul>
    </nav>
</aside>
